/* Sidebar */
.sidebar {
    position: relative;
    background-color: #f4f4f4;
    height: 100vh;
    transition: width 0.3s ease-in-out;
    overflow: hidden;
  }
  
  .sidebar.expanded {
    width: 250px;
    padding: 15px;
  }
  
  .sidebar.collapsed {
    width: 20px;
    padding: 15px 5px;
  }
  
  /* Botão de alternância */
  .toggle-button {
    position: absolute;
    top: 15px;
    right: 10px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    transition: color 0.2s;
  }
  
  .toggle-button:hover {
    color: #007bff;
  }
  
  /* Títulos e textos */
  .sidebar h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #333;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .sidebar.collapsed h2,
  .sidebar.collapsed p,
  .sidebar.collapsed .logout-button {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  /* Informações do Usuário */
  .sidebar p {
    margin: 10px 0;
    font-size: 1rem;
  }
  
  /* Botão de logout */
  .logout-button {
    background-color: #ff4d4d;
    border: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 100%;
    transition: background-color 0.3s ease;
  }
  
  .logout-button:hover {
    background-color: #ff1a1a;
  }
  